.wbd-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2rem;
}

.wbd-grid--2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.wbd-grid--3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.wbd-grid--4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media only screen and (max-width: 800px) {
    .wbd-grid--2,
    .wbd-grid--3,
    .wbd-grid--4
     {
        display: flex;
	     flex-wrap: wrap;
	     gap: 0;
         flex-direction: column;
    }
	
}

